.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.container input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.container button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.container button:hover {
  background-color: #333;
  transform: translateY(-2px);
}
